html
  body
    .row(style="margin-top:40px;")
      .col-md-4
        .z-depth-1-half.container-main.animated(ng-class="showingSearch ? 'border-search' : 'border-active'")
          canvas#canvas
          include includes/create.pug
          include includes/edit.pug
          .container-id-card.animated#searchContainer
            include includes/search.pug
            .scrollable
              div(ng-repeat="customer in customers")
                id-card.id-card-template.animated.fadeInRight(info="customer" ng-click="select(customer, customers)" ng-class="{highlighted: isSelected(customer)}")            
      .col-md-8
        include includes/map.pug
        include includes/history.pug
