html
  body
    .jumbotron.text-center
      h1 Home Page 4 Life
      p {{ tagline }}
    .id-card-container.z-depth-1-half
      .text-center.phone-input-background.z-depth-1
        .phone-input-container
          input#phoneInput.form-control.input-phone(type="number" limit-to="10" placeholder="(123) 456-7890" value="6507405226")
      .scrollable
        .create-container.animated.fadeIn
          | Hooray &#x1F389 a new customer!
          input#addressInput.customer-field.form-control(placeholder="123 Cherry St" value="350 Ralston Ave")   
          #citySelect.customer-field
            div(ng-repeat="city in cities")
              button.btn.btn-city(
              ng-class="{ 'btn-outline-{{getCityColorByIndex($index)}}': true,\
              '{{ getCityColorByIndex($index) }}' : hover || cityButtonStates[$index], 'btn-city-selected' : cityButtonStates[$index] }"
              ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
              ng-click="selectCity($index, cities);") {{ city }}
          .unrequired-notes
            label Cross Street
            input#crossInput.form-control(placeholder="321 Peach Lane" value="Alameda")
            .md-form
              textarea#noteInput.md-textarea(ng-focus="focused = true" ng-blur="focused = false")
              label(ng-class="{ 'active': focused }") Extra Notes
          button#createButton.btn.red.darken-2(ng-click="createCustomer()") Create!
        div(ng-repeat="customer in customers")
          id-card.id-card-template.animated.fadeInRight(info="customer" ng-click="select(customer, customers)" ng-class="{highlighted: isSelected(customer)}")            
