:root {
  --history-accent-color: #1E8BC3;
  --form-font-size: 16pt;
}

body {
  overflow-y: hidden;
}

html {
  overflow-y: hidden;
  height: 100%;
}

form .errors {
  font-size: 15px;
  color: #dd2c00;
  margin-top: 5px;
}

.btn-navbar {
  position: absolute;
  background-size: 100%;
  background-color: #eee;
  top: 125px;
  left: 10px;
}

.container-address-city {
  margin-top: 30px;
}

.container-address-ordered md-input-container {
  font-size: 14pt;
  color: black;
}

.container-cross-ordered {
  align-content: flex-end;
  align-items: center;
  height: 60px;
}

.container-main {
  height: 850px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: border 2s ease-in-out;
}

.container-phone-input {
  display: inline-block;
  padding: 10px 0px 10px 0px;
}

.border-search {
  border: 3px solid transparent;
}

.border-active {
  border: 3px solid var(--history-accent-color);
}

md-chips * span {
  font-size: 16pt;
  color: black;
}

md-chips input {
  font-size: var(--form-font-size);
}

/* md-input-container input {
  font-size: var(--form-font-size);
} */

textarea.md-input {
  transition: height 0.5s ease;
}

/* md-chips * md-chip {
  background-color: #D2D7D3;
} */

/* .chips-phone * md-icon {
  color: white;
} */

.container-city-btn {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container-fluid {
  width: 93%;
}

.container-shifted {
  margin-left: 125px;
}

.container-search {
  width: 100%;
  padding: 30px 50px;
  font-weight: normal;
  position: relative;
}

.container-search .header {
  font-size: 18pt;
  text-align: center;
  margin-bottom: 35px;
  padding: 0px 40px;
  max-height: 42px;
}

.container-search label span {
  font-size: 18pt;
}

.container-search md-input-container {
  margin-bottom: 30px;
}

.button-back {
  position: absolute;
  left: 10px;
  top: 10px;
}

.button-back i {
  color: var(--history-accent-color);
}

.customer-detail {
  font-size: 16pt;
}

.customer-field {
  margin-bottom: 10px;
}

.edit-input {}

.edit-input input {
  margin: 10px;
  padding-left: 10px;
  border-radius: 2px;
  color: black !important;
  font-size: 18pt;
  border-radius: 5px;
}

.history {
  height: calc(25% - 16px);
  margin-top: 16px;
}

.history .header {
  height: 50px;
  background-color: var(--history-accent-color);
  padding: 5px 10px;
  font-weight: 400;
  color: white;
  font-size: 20pt;
}

.hidden {
  visibility: hidden;
  display: none;
}

.invisible {
  visibility: hidden;
}

.container-id-card {
  /* min-height: 800px; */
  overflow-x: hidden;
}

.container-id-card .scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 3px 0px 3px 3px;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.id-card-template {
  display: table;
  width: calc(100% - 2px);
  position: relative;
  margin-bottom: 3px;
  outline: transparent solid;
  transition: outline .5s;
  text-decoration: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.id-card {
  display: table-cell;
  vertical-align: middle;
  padding-top: 10px;
}

id-card.highlighted {
  outline: 3px solid var(--history-accent-color);
}

.id-card img {
  float: left;
  max-width: 25px;
}

.id-card-badge {
  position: absolute;
  height: 27px;
  font-size: 13pt;
  line-height: 18px;
  right: 10px;
  top: 10px;
  border-radius: .25rem;
}

.id-card-template:hover:not(.highlighted) {
  outline: 3px solid #BC1E2C;
}

.id-card-half {
  display: flex;
  justify-content: space-evenly;
  float: left;
  width: 50%;
  padding: 5px 0px 2px 0px;
}

.id-card-half div {
  display: inline-block;
}

.id-card-top {
  float: left;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  text-align: center;
}

.id-card-bottom {
  float: left;
  width: 100%;
  height: 45px;
  padding-left: 10px;
}

.id-card-address {
  margin: 0px;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

.id-card h4 {
  margin: auto;
}

.id-card p {
  margin: auto;
}

.id-card .phone-div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 5px;
  text-align: center;
}

.container-map {
  height: 75%;
  margin-bottom: 10px;
}

@media (min-width: 1280px) {
  .margin-name {
    margin-right: 10px;
  }
}

md-input-container:not(.md-input-invalid)>md-icon.place {
  color: #EA4335;
}

md-input-container:not(.md-input-invalid)>md-icon.my-location, md-input-container:not(.md-input-invalid)>md-icon.name {
  color: var(--history-accent-color);
}

md-input-container:not(.md-input-invalid)>md-icon.email {
  color: #008000;
}

md-input-container:not(.md-input-invalid)>md-icon.map, md-input-container:not(.md-input-invalid)>md-icon.description {
  color: #aaa;
}

md-input-container.md-input-invalid>md-icon.place, md-input-container.md-input-invalid>md-icon.email {
  color: red;
}

.navbar-fixed-left {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100px;
  z-index: 2;
}

.ng-inline-edit__input {
  border-bottom: 1px dashed #333;
}

.ng-inline-edit--error .ng-inline-edit__input {
  border-color: #f00;
}

.ng-inline-edit__button {
  color: #00f;
  margin-left: 5px;
}

.phone-div p {
  float: left;
  font-size: 15pt;
  padding-right: 10px;
}


.phone-input-background {
  z-index: 1;
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.92);
}

.margin-right {
  margin-right: 10px;
}
.unrequired-notes {
  /* margin: 30px 10px 10px 10px; */
  /* text-align: left; */
}

.unrequired-notes label {
  margin-left: 18px;
  font-size: 1rem;
  color: #5c5c5c;
}

#accountSelect {}

#addressInput {
  /* margin: 10px; */
  /* padding-left: 10px; */
  color: black;
  font-size: var(--form-font-size);
  /* border-radius: 5px; */
}

#canvas {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 97%;
  height: 100%;
}

#citySelect {}

#createButton {
  border-radius: 10px;
  font-size: var(--form-font-size);
  font-weight: normal;
  padding: .75rem 1.35rem;
}

#editButton {
  border-radius: 10px;
  font-size: var(--form-font-size);
  font-weight: normal;
  padding: .75rem 1.35rem;
}

#crossInput {
  font-size: 13pt;
}

#editContainer {}

#map {
  width: 100%;
  height: 100%;
}

#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}

#noteInput {
  font-size: 13pt;
  min-height: 30px;
}

#phoneInput {}

#searchInput {
  font-size: 20pt;
  font-weight: normal;
  color: black;
  text-align: center;
  width: 250px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputErrorsAdvanced {
  /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
  /* Setup animations similar to the ng-messages */
}

.inputErrorsAdvanced .hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey;
}

.inputErrorsAdvanced .hint.ng-hide, .inputErrorsAdvanced .hint.ng-enter, .inputErrorsAdvanced .hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0;
}

.inputErrorsAdvanced .hint.ng-leave, .inputErrorsAdvanced .hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1;
}

canvas {
  display: block;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
