doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    base(href="/")
    title AvantiCDC
    // CSS
    link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="libs/MDBootstrap/css/mdb.min.css")
    link(rel="stylesheet" href="css/styles.css")
    // JS
    script(src="libs/angular/angular.min.js")
    script(src="libs/angular-route/angular-route.min.js")
    script(src="libs/jquery/dist/jquery.min.js")
    // ANGULAR CUSTOM
    script(src="js/controllers/MainController.js")
    script(src="js/controllers/NerdController.js")
    script(src="js/services/CustomerService.js")
    script(src="js/appRoutes.js")
    script(src="js/app.js")
  body(style="margin-top:30px;" ng-app="sampleApp" ng-controller="MainController")
    .container
      // HEADER
      nav.navbar.navbar-inverse
        .navbar-header
          a.navbar-brand(href="/") Node and Angular
        ul.nav.navbar-nav
          li
            a(href="/nerds") Michael Ryan
      // ANGULAR DYNAMIC CONTENT
      div(ng-view="")
