#editContainer.container-search.animated.fadeIn
  form(name="editForm")
    //- edit-input(label="Address" placeholder="123 Cherry St" field="editingCustomer.address")
    md-input-container.md-block
        label Address
        input(name="address" ng-model="editingCustomer.address" required md-no-asterisk )
        div(ng-messages="editForm.address.$error")
          div(ng-message="required") Please enter a value for this field.
