.history.z-depth-1-half
  .header History
  .container-history
    label Coming Soon â³
    //- span#addressDetail(inline-edit="selected.address"  inline-edit-callback="myUpdateHandler(newValue)"  inline-edit-placeholder="Type your value here"  inline-edit-btn-edit=""  inline-edit-on-blur="save" inline-edit-on-click)
