.customer-info.z-depth-1-half
  .history-header History
  div(style="background-color:#f2f2f2; width:300px;height:100px;padding:10px 5px;text-align:center;border-radius:5px;")
    label(for="addressDetail" style="font-size:18pt;margin-bottom:0px") Address
    span#addressDetail(inline-edit="selected.address"  inline-edit-callback="myUpdateHandler(newValue)"  inline-edit-placeholder="Type your value here"  inline-edit-btn-edit=""  inline-edit-on-blur="save" inline-edit-on-click)
