nav.navbar.navbar-dark.bg-dark.navbar-fixed-left
  .navbar-header
    md-button.md-fab(style="background-image:url(../../img/pie-icon.png);background-size:100%;background-color:#eee;" href="/")
  ul.nav.navbar-nav
    li
      a(href="/nerds") Michael Ryan
